@import "tailwindcss";
@import "tailwindcss-primeui";
@import 'primeicons/primeicons.css';

:root {
  --ga-border-color: #e5e7eb;
  --ga-border: 1px solid var(--ga-border-color);
  --ga-boxshadow: 0 0 10px rgba(99, 102, 241, 0.2);
  --ga-padding: 20px
}
html,body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #000;
}

.header, .footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.center {
  display: flex;
  align-items: center;
}

.form-item {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
  .label {
    font-weight: 500;
    color: #000;
    font-size: 14px;
    width: 120px;
    word-wrap: normal;
  }
}



